.left-section{
    height: 100vh;
    background-color: yellow;
    background-image: url('../Assets/photo-1501163268664-3fdf329d019f.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}